<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2019. Vlad Kalyuzhnyu <vladkalyuzhnyu@gmail.com>
  -->

<!--suppress CheckTagEmptyBody -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="androidovshchik.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".DebugApplication"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name=".services.MailService" />
        <service android:name=".services.BackdoorService" />
    </application>

</manifest>